/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body {
	min-width: 1200px;
	background: $c-white;
	font-family: $ff-base;
	font-weight: $font-weight-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	font-weight: $font-weight-base;
	color: $c-black-base;
}

a { color: inherit; text-decoration: underline; }
a:hover { text-decoration: none; }

a[href^="tel"] { text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: calc($(line-height-base)em / 2); font-family: $ff-base-serif; font-weight: 400;  }

h1,
h2,
h3 {  margin-bottom: calc($(line-height-base)em / 2.5); }

h1 { font-size: 48px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h4 { font-size: 29px; }
h5 { font-size: 28px; font-family: $ff-base; font-weight: 600; }
h6 { font-size: 22px; }

p,
ul,
ol,
dl,
hr,
table,
blockquote { margin-bottom: $(line-height-base)em; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }

$breakpoint-mobile{
	body { min-width: 320px; font-size: 16px; }

	h1 { font-size: 36px; }
	h2 { font-size: 36px; }
	h3 { font-size: 24px; }
	h4 { font-size: 22px; }
	h5 { font-size: 20px; }
	h6 { font-size: 18px; }
}