/* ------------------------------------------------------------ *\
	Spinner
\* ------------------------------------------------------------ */

.spinner { display: none; position: fixed; z-index: 30; left: 50%; top: 50%; }