/* ------------------------------------------------------------ *\
	# Navigations
\* ------------------------------------------------------------ */

[class^="nav"] ul { list-style: none; }

/* ------------------------------------------------------------ *\
	Nav Trigger
\* ------------------------------------------------------------ */

.nav-trigger { position: relative; display: inline-block; width: 40px; height: 26px; }
.nav-trigger span { position: absolute; display: block; height: 4px; width: 100%; border-radius: 4px; background: #000; transition: top .2s .25s, opacity .2s .25s, transform .2s 0s; }

.nav-trigger span:nth-child(1) { top: 0; }
.nav-trigger span:nth-child(2) { top: 11px; }
.nav-trigger span:nth-child(3) { top: 22px; }

body.has-menu-opened .nav-trigger span { transition: background .2s, top .2s, opacity .2s, transform .2s .25s; }

body.has-menu-opened .nav-trigger span:nth-child(3),
body.has-menu-opened .nav-trigger span:nth-child(1) { top: 11px; }

body.has-menu-opened .nav-trigger span:nth-child(2) { opacity: 0; }
body.has-menu-opened .nav-trigger span:nth-child(1) { transform: rotate(45deg); }
body.has-menu-opened .nav-trigger span:nth-child(3) { transform: rotate(-45deg); }

/* ------------------------------------------------------------ *\
	Nav buttons
\* ------------------------------------------------------------ */

.nav-buttons { padding: 7px 20px; font-size: 18px; }
.nav-buttons a { text-decoration: none; padding: 4px 0 3px; }
.nav-buttons ul { display: flex; align-items: center; margin: 0 -25px; }
.nav-buttons ul li { padding: 0 25px; }
.nav-buttons .link-border a { display: block;  border: 1px solid $c-white; border-radius: 5px;  padding-left: 15px; padding-right: 15px; }
.nav-buttons .link-border a:hover { color: $c-blue; background: $c-white; }

$breakpoint-mobile{
	.nav-buttons { padding: 10px 0;  }
	.nav-buttons ul { display: block; margin: 0; }
	.nav-buttons ul li { width: 100%; padding: 0;  }
	.nav-buttons ul li + li { margin-top: 10px; }

	.nav-buttons .link-border a { display: inline-block;  }
}

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav { font-size: 18px; padding: 0 10px 0 20px; position: relative; }
.nav a { text-decoration: none; }
.nav > ul { display: flex; margin: 0 0 0 -18px; justify-content: space-between; }
.nav > ul > li { padding: 10px 18px; }
.nav > ul > li:last-child { padding-right: 0; }
.nav > ul > li > a { display: block; padding: 3px 0; position: relative; }
.nav > ul > li > a:after { content: ''; position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background: $c-gold; transition: width .4s;  }

.nav > ul > li.current-page-ancestor > a:after,
.nav > ul > li.current-menu-item > a:after,

.nav .nav-dd { position: absolute; top: 100%; left: 0; width: 100%; }

.nav-dd { display: flex; border-radius: 0 0 5px 5px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);  background: $c-white; z-index: -1; padding: 3px 2px 9px; opacity: 0; visibility: hidden; transition: opacity .4s, visibility .4s; }
.nav-dd .nav-title { font-size: 18px; border-bottom: 2px solid $c-gold; padding-bottom: 4px; margin-bottom: 6px; }

.nav-dd .nav-col { padding: 15px 25px; font-size: 16px; }
.nav-dd .nav-col--1of3 { width: 33.33%; }
.nav-dd .nav-col--2of3 { width: 66.67%; }

.nav-dd ul { font-weight: 300; font-size: 16px; color: }
.nav-dd ul li + li { margin-top: 10px; }
.nav-dd ul a { display: inline-block; position: relative; }
.nav-dd ul a:after { content: ''; position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background: $c-gold; transition: width .4s; }
.nav-dd ul a:hover { color: $c-blue; }

.nav-dd ul .links-all { font-weight: 600; color: $c-blue; }
.nav-dd ul .links-all a { position: relative; padding-left: 5px; }
.nav-dd ul .links-all a:before { content: ''; position: absolute; top: 3px; bottom: 4px; left: 0;  border-right: 2px solid $c-gold; }

.nav > ul > li.hover > .nav-dd { opacity: 1; visibility: visible; }
@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover){
}

$breakpoint-mobile{
	.nav { padding: 0;  }
	.nav > ul { display: block; margin: 0; }
	.nav > ul > li { padding: 10px 0;  }

	.nav .nav-dd  { position: static; display: none; }
	/*.nav .current-menu-item > .nav-dd  { display: block; }*/

	.nav-dd { visibility: unset; opacity: 1; flex-wrap: wrap; }
	.nav-dd .nav-col { padding: 15px 20px; }
	.nav-dd .nav-col--1of3 { width: 100%; }
	.nav-dd .nav-col--2of3 { width: 100%; }
}

/* ------------------------------------------------------------ *\
	Nav Footer
\* ------------------------------------------------------------ */

.nav-footer { font-weight: 600; font-size: 24px; }
.nav-footer a { position: relative; border-bottom: 2px solid transparent; text-decoration: none;  }
.nav-footer a:hover { border-color: $c-white;  }
.nav-footer ul { display: flex; flex-wrap: wrap; justify-content: space-between; margin: 0 -15px -40px; }
.nav-footer ul li { width: 33.33%; padding: 0 15px 40px; }
.nav-footer ul li:nth-child(3n+3) { text-align: right; }
.nav-footer ul li:nth-child(3n+2) { text-align: center; }

$breakpoint-mobile{
	.nav-footer { font-size: 20px; }
	.nav-footer ul { display: flex; flex-wrap: wrap; justify-content: space-between; margin: 0 -15px -20px; }
	.nav-footer ul li { width: 50%; padding: 0 15px 20px; }
	.nav-footer ul li,
	.nav-footer ul li:nth-child(3n+3),
	.nav-footer ul li:nth-child(3n+2) { text-align: left; }
}


/* ------------------------------------------------------------ *\
	Nav Utilities
\* ------------------------------------------------------------ */

.nav-utilities { display: inline-block; overflow: hidden; font-weight: 600; }
.nav-utilities a { text-decoration: none;  }
.nav-utilities a:hover { text-decoration: underline;  }
.nav-utilities ul { display: flex; flex-wrap: wrap; margin: 0 -16px; justify-content: center;  }
.nav-utilities ul li { position: relative; padding: 0 16px; }
.nav-utilities ul li + li:before { content: ''; position: absolute; top: 4px; bottom: 4px; left: 0; border-left: 2px solid $c-white; }

/* ------------------------------------------------------------ *\
	Nav Links
\* ------------------------------------------------------------ */

.nav-links { font-size: 28px; margin-bottom: 30px; }
.nav-links:last-child { margin-bottom: 0; }
.nav-links a { text-decoration: none; border-bottom: 2px solid transparent; }

.nav-links .current-menu-item > a,
.nav-links a:hover { border-bottom-color: $c-blue; color: $c-blue; }

.nav-links ul { display: flex; flex-wrap: wrap; margin: 0 -20px;  }
.nav-links ul li { padding: 5px 20px; }

$breakpoint-mobile{
	.nav-links { font-size: 22px; }
}

/*nav-links--small*/
.nav-links--small { font-size: 20px; }

.nav-links--small ul { margin: 0 -30px; }
.nav-links--small ul li { padding: 5px 30px; }

$breakpoint-mobile{
	.nav-links--small { font-size: 16px; }
	.nav-links--small ul { margin: 0 -15px; }
	.nav-links--small ul li { width: 50%; padding: 5px 15px;  }
}

$breakpoint-mobile{
	.nav-links--small ul li { width: 100%; }
}

/* ------------------------------------------------------------ *\
	Nav Filter
\* ------------------------------------------------------------ */

.nav-filter { color: $c-blue; font-size: 28px; font-weight: 700; }
.nav-filter a { text-decoration: none; }
.nav-filter .nav-filter__wrapper { display: inline-block; overflow: hidden; }
.nav-filter ul { display: flex; flex-wrap: wrap; justify-content: center; margin: 0 -17px;  }
.nav-filter ul li { padding: 4px 17px; position: relative; text-transform: uppercase; }
.nav-filter ul li:before { content: ''; position: absolute; top: 10px; bottom: 11px; left: 0; border-left: 2px solid $c-blue;  }

.nav-filter ul li:last-child { text-transform: none; }
.nav-filter ul li:last-child a { text-decoration: underline; }
.nav-filter ul li:last-child:before { display: none; }

.nav-filter ul li:first-child:before,
.nav-filter ul li:nth-last-child(5):before { display: none; }

.nav-filter .disabled a { pointer-events: none; color: #b1b1b1; }

$breakpoint-mobile{
	.nav-filter ul li:nth-last-child(5):before { display: block; }
}
