/* ------------------------------------------------------------ *\
	get-directions
\* ------------------------------------------------------------ */

.get-directions { display: block; position: relative; z-index: 20; text-align: center; margin-top: 20px; }
.get-directions:hover { text-decoration: underline; }