/* ------------------------------------------------------------ *\
	services
\* ------------------------------------------------------------ */

.services > ul:not([class]) { list-style: none; padding: 0; display: flex; flex-wrap: wrap; margin: -10px; }
.services > ul:not([class]) > li { width: 50%; padding: 10px; display: flex; }
.services > ul:not([class]) > li.small { width: 33.33%;  }
.services > ul:not([class]) > li.large { width: 100%; }

$breakpoint-mobile{
	.services > ul:not([class]) > li.small,
	.services > ul:not([class]) > li.large,
	.services > ul:not([class]) > li { width: 100%;  }
}

/* ------------------------------------------------------------ *\
	Service
\* ------------------------------------------------------------ */

.service { width: 100%; @extend bgCover; position: relative; display: flex; border-radius: 5px; overflow: hidden; }
.service > a { width: 100%; display: flex; align-items: center; text-decoration: none; position: relative; padding: 71px 46px; }

.service .service__head { @extend bgWithRadius; text-align: center; width: 100%; padding: 30px 10px; transition: opacity .4s, visibility .4s; opacity: 1; visibility: visible; }
.service .service__head h3 { color: $c-gold; }

.service .service__content  { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(10, 78, 104, 0.8); color: $c-white; padding: 30px 20px; text-align: center; transition: opacity .4s, visibility .4s; opacity: 0; visibility: hidden; display: flex; }
.service .service__content h3 { margin-bottom: 9px; }
.service .service__entry { width: 100%; margin: auto; }

/*hover for desktop devices*/
@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
	.service.hover .service__content,
	.service:hover .service__content { opacity: 1; visibility: visible;  }
	.service.hover .service__head,
	.service:hover .service__head { opacity: 0; visibility: hidden; }
}
$breakpoint-mobile{
	.service > a { padding: 50px 25px; }
}