/* ------------------------------------------------------------ *\
	Assistant
\* ------------------------------------------------------------ */

.assistant{ position: fixed; bottom: 30px; right: 0; z-index: 1000; font-size: 24px; }
.assistant h6 { font-family: $ff-base; font-weight: 700; margin-bottom: 40px; }
.assistant h6:last-child { margin-bottom: 0; }
.assistant h6 > em { font-size: 16px; font-weight: 400; }

.assistant .assistant__trigger { font-size: 22px; font-weight: 500; text-decoration: none; display: block; background: $c-blue; color: $c-white; padding: 23px 10px; border-radius: 5px 0 0 5px; position: absolute; bottom: 0; right: 0; min-width: 186px; text-align: center; transform: translateX(0); transition: transform .4s; }
body.has-assistant-visible .assistant .assistant__trigger { transform: translateX(100%);  }

.assistant .assistant__trigger:hover { opacity: .9;  }
.assistant .assistant__trigger span { display: block; width: 67px; height: 67px;  background-size: contain; background-repeat: no-repeat; margin: 15px auto 0;}

.assistant .assistant-close { position: absolute; top: 0; right: 0; width: 40px; height: 40px; background-size: contain; background-position: center; background-repeat: no-repeat; }
.assistant .assistant__container { background: $c-white; position: absolute; bottom: 0; right: 0; width: 530px; max-width: 100vw; border: 3px solid #0A4E68; border-radius: 5px 0 0 5px; min-height: 760px; display: flex; flex-direction: column; padding: 30px 0 0; transform: translateX(100%); transition: transform .4s; }

body.has-assistant-visible .assistant .assistant__container { transform: translateX(0);  }

.assistant .assistant__icon { position: absolute; top: 0; left: 0; width: 67px; height: 67px;  background-size: contain; background-repeat: no-repeat; }

.assistant .assistant__head { margin-bottom: 30px; width: 100%; text-align: center; margin-bottom: 74px; padding: 0 30px; }
.assistant .assistant__head h3 { font-family: $ff-base; font-size: 30px; font-weight: 500;  position: relative; padding: 10px 70px 0; margin-bottom: 50px; }
.assistant .assistant__content { width: 100%;  text-align: center; max-height: 100%; position: relative; flex-grow: 1; overflow: hidden;  -webkit-overflow-scrolling: touch;}
.assistant .assistant__entry { overflow: auto; padding: 0 30px 30px; max-height: 100%; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }

.assistant .assistant-back { text-decoration: none; font-size: 22px;  }


.assistant .accordion-assistant { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: auto; pointer-events: none; }
.assistant .accordion-assistant .accordion__section { pointer-events: auto; }

@media(max-height: 900px) and (min-width: 1000px){
	.assistant .assistant__container { height: calc(100vh - 150px); min-height: 1px; }
}

@media(max-height: 900px) and (min-width: 1000px) and (orientation:landscape){
	.assistant .assistant__container { height: calc(100vh - 200px); min-height: 1px; }
}

$breakpoint-mobile{
	.assistant { bottom: auto; top: 0; font-size: 20px; z-index: 1100; }
	body.has-menu-opened .assistant { opacity: 0; visibility: hidden;  }

	.assistant h6 > em  { font-size: 14px; }
	.assistant .assistant__trigger { font-size: 0; padding: 10px; min-width: 1px; border-radius: 5px 0 0 0;  position: fixed; bottom: 0; right: 0; }
	.assistant .assistant__trigger span { width: 30px; height: 30px; margin: 0 auto; }
	.assistant .assistant__icon { width: 40px; height: 40px; }
	.assistant .assistant-close { width: 30px; height: 30px; }

	.assistant .assistant__container { height: auto;  min-height: 1px; border-radius: 0; bottom: auto; top: 0; position: fixed; top: 0; right: 0; bottom: 0; }
	.assistant .assistant__head { padding: 0 20px; margin-bottom: 30px; }
	.assistant .assistant__head h3 { font-size: 22px; padding: 5px 45px; margin-bottom: 20px;  }
}

/* ------------------------------------------------------------ *\
	Assitant Nav
\* ------------------------------------------------------------ */

.assitant-nav { font-size: 22px; }
.assitant-nav ul { list-style: none; padding: 0; }
.assitant-nav li + li { margin-top: 28px; }
.assitant-nav a { text-decoration: none; }
.assitant-nav a:hover { color: $c-blue; font-weight: 700; }

$breakpoint-mobile{
	.assitant-nav { font-size: 18px;  }
}